body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
main {
  font-family: "Aclonica", serif;
  font-weight:400;
  font-style: normal;
  padding:20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.Name{
  font-size: 72px;
  color: #1F818C;
  margin:0;
}
.About{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}
.Enter {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Enter::after,
.Enter::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.Enter::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #1F818C;
  border-radius: 10px;
}

.Enter::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.Enter:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.Enter:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.Enter:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}