header{
    font-family: "Aclonica", serif;
    font-weight:400;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    padding:20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    }
.page-title {
    font-size: 64px;
    color: #1F818C;
    text-align: center;
    flex-grow: 1;
}   
.icono-menu svg{
    position: absolute;
    top: 8px;
    right: 8px; 
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, fill 0.3s ease;
}
.icono-menu svg:hover {
    transform: scale (1.2);
}
.icono-menu svg:hover path {
    fill: #BF9999;
}
#menu.hidden{
    display:none;
}
#menu {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    position:fixed;
    top:50px;
    right:10px;
    background-color: rgb(133, 133, 133);
    padding:15px;
    border-radius:5px;
}
#menu ul{
    list-style:none;
    padding:0;
}

#menu ul li {
    margin: 10px 0;
}

#menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#menu ul li a:hover {
    color: #ddd;
}
main {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #BF9999;
}
footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:relative;
    font-family: "Aclonica", serif;
    font-weight:400;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    padding:20px 0;
}
.Reset-button {
    position: absolute;
    bottom: 8px;
    left: 8px;
}
.Reset {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #1F818C;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .Reset:hover,
  .Reset:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .Reset:active {
    background: var(--color);
    color: #fff;
  }

